body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="number"],
button {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
}
