<!DOCTYPE html>
<html>
<head>
    <title>Transfer</title>
    <link rel="icon" href="/static/images/icon.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .options-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        .options-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Transfer Money</h1>
    <form method="post" action="/process_transfer">
        <input type="number" name="amount" placeholder="Amount" required><br>
        <input type="text" name="recipient" placeholder="Recipient Username" required><br>
        <button type="submit">Submit</button>
    </form>
    <div class="container"> 
        <form action="/options" method="get">
            <button type="submit" class="options-btn">Go To Options</button>
        </form>
        </div>
</body>
</html>
